<h1>Welcome, <%= current_user.email %><h1>

<section class='discover-button'>
  <%= button_to 'Discover Movies', '/discover', method: :get %>
</section>

<section class='log-out-button'>
  <%= link_to 'Log Out', '/logout' %>
</section>